{% extends 'budget/base.html' %}
{% block body %}

    <div class="container">
        <h3 >Login: </h3>
        <form action="{% url 'login_view' %}" method="post">
            {% csrf_token %}
            <div class="form-group w-25">
                <label for="id_username">Username:</label>
                <input class="form-control form-control-sm" type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
            </div>
            <div class="form-group w-25">
                <label for="id_password">Password:</label>
            <input class="form-control form-control-sm" type="password" name="password" autocomplete="current-password" required id="id_password">
            </div>
            <button class="btn btn-primary" type="submit">Login</button>

        </form>
    </div>
{% endblock %}