{% extends 'budget/base.html' %}
{% block title %}
    <title>Update budget| Cache Tips</title>
{% endblock %}
{% block body %}
    <div class="container m-5">
        <h1>Update your budget!</h1>
        <div class="bg-light p-4 w-75">
            <form action="{% url 'budget-dashboard-update' budget.id%}" method="POST">
                {% csrf_token %}
                <div>
                    <label for="id_budget_name">Budget name:</label>
                    <input  class="form-control" value="{{ budget.budget_name }}" type="text" name="budget_name" maxlength="100" required id="id_budget_name">
                </div>
                <div>
                    <label for="id_earned_income">Earned income:</label>
                    <input class="form-control" value="{{ budget.earned_income }}" type="number" name="earned_income" step="0.01" required id="id_earned_income">
                </div>
                <div>
                    <label for="id_housing_expense">Housing expense:</label>
                    <input  class="form-control" value="{{ budget.housing_expense }}" type="number" name="housing_expense" step="0.01" required id="id_housing_expense">
                </div>
                <div>
                    <label for="id_food_expense">Food expense:</label>
                    <input class="form-control" value="{{ budget.food_expense }}" type="number" name="food_expense"  step="0.01" required id="id_food_expense">
                </div>
                <div>
                    <label for="id_medical_expense">Medical expense:</label>
                    <input class="form-control" value="{{ budget.medical_expense }}" type="number" name="medical_expense"  step="0.01" required id="id_medical_expense">
                </div>
                <div>
                    <label for="id_child_care_expense">Child care expense:</label>
                    <input class="form-control" value="{{ budget.child_care_expense }}" type="number" name="child_care_expense" step="0.01" required id="id_child_care_expense">
                </div>
                <div>
                    <label for="id_taxes">Taxes:</label>
                    <input class="form-control" value="{{ budget.taxes }}" type="number" name="taxes" step="0.01" required id="id_taxes">
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary" type="submit" >Save</button>
                    </div>
                    <div class="col text-right">
                        <a class="btn btn-warning" href="{% url 'budget-dashboard' %}">Dashboard</a>
                    </div>
                </div>
            </form>
        </div>

    </div>
    
    
{% endblock %}